		<!--页眉开始-->
		<div id="pageHeader">
		  <div id="crumbs"><a href="">首页</a>&gt;&gt;<a href="">盒子</a></div>
		</div>
		<!--页眉结束-->
		<!--主体开始-->
		<div id="pageBody">
		  <!--容器开始-->
		  <div class="boxWrapper">
			<!--盒子开始-->
			<div class="box">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
			    <div class="infoBox"><img class="icon" src="img/icons/info.png">这是一个常规类型的信息框，其显示诸如操作提示一类的信息。</div>
				<div class="errorBox"><img class="icon" src="img/icons/error.png">这是一个错误类型的信息框，其显示诸如操作错误、页面执行失败一类的信息。</div>
				<div class="warningBox"><img class="icon" src="img/icons/notice.png">这是一个警告类型的信息框，其显示的内容顾名思义是警告含义。</div>
				<div class="successBox"><img class="icon" src="img/icons/success.png">这是一个成功类型的信息框，宣誓着成功。</div>
				<div class="mBox">这是一个信息框。</div>
			  </div>
			</div>
			<!--盒子结束-->
			<div class="hidden"></div>
		  </div>
		  <!--容器结束-->
		  <!--容器开始-->
		  <div class="boxWrapper">
			<!--Tab型盒子开始-->
			<div class="boxTab">
			  <div class="boxTitle">
				<ul>
				  <li><a href="">标签1</a></li><li><a href="">标签2</a></li><li><a href="">标签3</a></li></ul>
			  </div>
			  <div class="boxContainer">
			    <div class="infoBox"><img class="icon" src="img/icons/info.png">这是一个常规类型的信息框，其显示诸如操作提示一类的信息。</div>
				<div class="errorBox"><img class="icon" src="img/icons/error.png">这是一个错误类型的信息框，其显示诸如操作错误、页面执行失败一类的信息。</div>
				<div class="warningBox"><img class="icon" src="img/icons/notice.png">这是一个警告类型的信息框，其显示的内容顾名思义是警告含义。</div>
				<div class="successBox"><img class="icon" src="img/icons/success.png">这是一个成功类型的信息框，宣誓着成功。</div>
				<div class="mBox">这是一个信息框。</div>
			  </div>
			</div>
			<!--Tab型盒子结束-->
			<div class="hidden"></div>
		  </div>
		  <!--容器结束-->
		  <!--容器开始-->
		  <div class="boxWrapper">
			<!--两列盒子开始-->
			<div class="box2col">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
			    <div class="infoBox"><img class="icon" src="img/icons/info.png">这是一个常规类型的信息框，其显示诸如操作提示一类的信息。</div>
				<div class="errorBox"><img class="icon" src="img/icons/error.png">这是一个错误类型的信息框，其显示诸如操作错误、页面执行失败一类的信息。</div>
				<div class="warningBox"><img class="icon" src="img/icons/notice.png">这是一个警告类型的信息框，其显示的内容顾名思义是警告含义。</div>
				<div class="successBox"><img class="icon" src="img/icons/success.png">这是一个成功类型的信息框，宣誓着成功。</div>
				<div class="mBox">这是一个信息框。</div>
			  </div>
			</div>
			<!--两列盒子结束-->
			<div class="box2col">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
			    <div class="infoBox"><img class="icon" src="img/icons/info.png">这是一个常规类型的信息框，其显示诸如操作提示一类的信息。</div>
				<div class="errorBox"><img class="icon" src="img/icons/error.png">这是一个错误类型的信息框，其显示诸如操作错误、页面执行失败一类的信息。</div>
				<div class="warningBox"><img class="icon" src="img/icons/notice.png">这是一个警告类型的信息框，其显示的内容顾名思义是警告含义。</div>
				<div class="successBox"><img class="icon" src="img/icons/success.png">这是一个成功类型的信息框，宣誓着成功。</div>
				<div class="mBox">这是一个信息框。</div>
			  </div>
			</div>
			<div class="box2col">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
			    <div class="infoBox"><img class="icon" src="img/icons/info.png">这是一个常规类型的信息框，其显示诸如操作提示一类的信息。</div>
				<div class="errorBox"><img class="icon" src="img/icons/error.png">这是一个错误类型的信息框，其显示诸如操作错误、页面执行失败一类的信息。</div>
				<div class="warningBox"><img class="icon" src="img/icons/notice.png">这是一个警告类型的信息框，其显示的内容顾名思义是警告含义。</div>
				<div class="successBox"><img class="icon" src="img/icons/success.png">这是一个成功类型的信息框，宣誓着成功。</div>
				<div class="mBox">这是一个信息框。</div>
			  </div>
			</div>
			<div class="box2col">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
			    <div class="infoBox"><img class="icon" src="img/icons/info.png">这是一个常规类型的信息框，其显示诸如操作提示一类的信息。</div>
				<div class="errorBox"><img class="icon" src="img/icons/error.png">这是一个错误类型的信息框，其显示诸如操作错误、页面执行失败一类的信息。</div>
				<div class="warningBox"><img class="icon" src="img/icons/notice.png">这是一个警告类型的信息框，其显示的内容顾名思义是警告含义。</div>
				<div class="successBox"><img class="icon" src="img/icons/success.png">这是一个成功类型的信息框，宣誓着成功。</div>
				<div class="mBox">这是一个信息框。</div>
			  </div>
			</div>
			<div class="hidden"></div>
		  </div>
		  <!--容器结束-->
		</div>
		<!--主体结束-->
		<!--页脚开始-->
		<div id="pageFooter">页脚</div>
		<!--页脚结束-->
