		<!--页眉开始-->
		<div id="pageHeader">
		  <div id="crumbs"><a href="">首页</a>&gt;&gt;<a href="">概览</a></div>
		</div>
		<!--页眉结束-->
		<!--主体开始-->
		<div id="pageBody">
		  <!--容器开始-->
		  <div class="boxWrapper">
			<!--盒子开始-->
			<div class="box">
			  <div class="boxTitle">百度UEditor</div>
			  <div class="boxContainer">
				<!-- 加载编辑器的容器 -->
		        <script id="UEditor" name="content" type="text/plain">
欢迎加入麦草CMS，群号码：154340308<br>
QQ：243292892
		        </script>
			  </div>
			</div>
			<!--盒子结束-->
			<div class="hidden"></div>
		  </div>
		  <!--容器结束-->
		  <div class="fixedBox">悬浮的盒子</div>
		</div>
		<!--主体结束-->
		<!--页脚开始-->
		<div id="pageFooter">页脚</div>
		<!--页脚结束-->
