<!DOCTYPE html>
<html lang="zh">
  <head>
	<title>标题</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="MyCMS">
	<meta name="keywords" content="MyCMS,PHP,CMS,麦草CMS,面向对象,内容管理">
	<meta name="description" content="MyCMS（麦草CMS）是一个短小精悍的内容管理系统（CMS），用PHP语言编写，用了面向对象的语言结构。">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/fonts/Hui-iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="css/fonts/iconfont/iconfont.css">
	<script type="text/javascript" src=""></script>
  </head>
  <body>
	<!--封装页面开始-->
	<div id="wrapper">
	  <!--侧边栏开始-->
	  <div id="aside">
		<!--LOGO开始-->
		<div id="logo2">麦草CMS</div>
		<!--LOGO结束-->
		<!--边栏目录开始-->
		<div id="asideMenu">
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><span class="mai-icon iconfont-shouye"></span><a href="index.html">概览</a></div>
			<!--<div class="asideMenuItems"></div>-->
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><span class="mai-icon Hui-iconfont-edit2"></span><a href="form.html">表单</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				<li><a href="form.html"><span class="mai-icon iconfont-chajian"></span>表单</a></li>
				 <li><a href="editor.html">在线编辑器</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><span class="mai-icon Hui-iconfont-muban"></span><a href="table.html">表格</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				<li><a href="table.html">表格</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><span class="mai-icon iconfont-tishi"></span><a href="messageBox.html">信息框</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				<li><a href="messageBox.html">信息框</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		  <!--菜单开始-->
		  <nav class="asideMenuWrapper">
			<div class="asideMenuTitle"><span class="mai-icon iconfont-yingyongzhongxin1"></span><a href="box.html">盒子</a><span class="foldIcon"></span></div>
			<div class="asideMenuItems">
			  <ul>
				<li><a href="box.html">盒子</a></li>
			  </ul>
			</div>
		  </nav>
		  <!--菜单结束-->
		</div>
      </div>
	  <!--侧边栏结束-->
	  <!--主操作区开始-->
	  <div id="main">
		<!--页眉开始-->
		<div id="pageHeader">
		  <div id="crumbs"><a href="">首页</a>&gt;&gt;<a href="">概览</a></div>
		</div>
		<!--页眉结束-->
		<!--主体开始-->
		<div id="pageBody">
		  <!--容器开始-->
		  <div class="boxWrapper">
			<div class="box">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
				一个空盒子

				<div class="t_search_div">
				  <form id="t_search_form" action="search.php" method="post">
					<input id="t_search" name="t_search" type="text">
					<button type="submit"></button>
				  </form>
				</div>
			  </div>
			</div>
			<div class="hidden"></div>
		  </div>
		  <!--容器结束-->
		  <div class="fixedBox">悬浮的盒子</div>
		</div>
		<!--主体结束-->
		<!--页脚开始-->
		<div id="pageFooter">页脚</div>
		<!--页脚结束-->
	  </div>
	  <!--主操作区结束-->
	  <div class="hidden"></div>
	</div>
	<!--封装页面结束-->
	<script src="js/core.js"> 
	</script>
	<script>
	</script>
		<!-- 配置文件 -->
		<script type="text/javascript" src="../plugin/UEditor/ueditor.config.js"></script>
		<!-- 编辑器源码文件 -->
		<script type="text/javascript" src="../plugin/UEditor/ueditor.all.js"></script>
		<!-- 实例化编辑器 -->
		<!--<script type="text/javascript">
        var ue = UE.getEditor('container');
		</script>-->
		<!--KindEditor-->
		<script charset="utf-8" src="../plugin/kindeditor/kindeditor-all-min.js"></script>
		<script charset="utf-8" src="../plugin/kindeditor/lang/zh-CN.js"></script>
		<!--<script>
        KindEditor.ready(function(K) {
		window.editor = K.create('#editor_id');
        });
		</script>-->
  </body>
</html>
