		<!--页眉开始-->
		<div id="pageHeader">
		  <div id="crumbs"><a href="">首页</a>&gt;&gt;<a href="">表格</a></div>
		</div>
		<!--页眉结束-->
		<!--主体开始-->
		<div id="pageBody">
		  <!--容器开始-->
		  <div class="boxWrapper">
			<!--盒子开始-->
			<div class="box">
			  <div class="boxTitle">标题</div>
			  <div class="boxContainer">
			    <div class="table_topbar">
			      <div class="t_sort"></div>
				  <div class="t_search_div">
				    <form id="t_search_form" action="search.php" method="post">
					  <input id="t_search" name="t_search" type="text">
					  <button type="submit"></button>
					</form>
				  </div>
				  <div class="hidden"></div>
				</div>
				<script type="text/javascript" id="script">
				    var pageCount = 7;
					var totalRecords = 5;
					var recordNum = 20;
					var previous = null;
					var pagination = 1;
				</script>
				<form name="table_form" id="table_form" action="" method="post">
				  <table class="boxTable">
				    <thead>
					  <tr>
					    <th><input id="checkAll" type="checkbox"></th>
					    <th>标题</th>
					    <th>作者</th>
					    <th>摘要</th>
					    <th>时间</th>
					    <th>操作</th>
					  </tr>
				    </thead>
				    <tbody>
					  <tr class="darkRow">
					    <th><input name="articleId" type="checkbox" value=""></th>
					    <td>这是一个标题</td>
					    <td>admin</td>
					    <td>这是内容摘要……</td>
					    <td>2017/07/14 16:52:25</td>
					    <td><a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
					  </tr>
					  <tr class="lightRow">
					    <th><input name="articleId" type="checkbox" value=""></th>
					    <td>这是一个标题</td>
					    <td>admin</td>
					    <td>这是内容摘要……</td>
					    <td>2017/07/14 16:52:25</td>
					    <td><a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
					  </tr>
					  <tr class="darkRow">
					    <th><input name="articleId" type="checkbox" value=""></th>
					    <td>这是一个标题</td>
					    <td>admin</td>
					    <td>这是内容摘要……</td>
					    <td>2017/07/14 16:52:25</td>
					    <td><a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
					  </tr>
					  <tr class="lightRow">
					    <th><input name="articleId" type="checkbox" value=""></th>
					    <td>这是一个标题</td>
					    <td>admin</td>
					    <td>这是内容摘要……</td>
					    <td>2017/07/14 16:52:25</td>
					    <td><a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
					  </tr>
					  <tr class="darkRow">
					    <th><input name="articleId" type="checkbox" value=""></th>
					    <td>这是一个标题</td>
					    <td>admin</td>
					    <td>这是内容摘要……</td>
					    <td>2017/07/14 16:52:25</td>
					    <td><a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
					  </tr>
				    </tbody>
				  </table>
				</form>
			    <div class="pagination">
				  <ul id="p_ul"><li class="previous">上一页</li><li class="current"><a href="">1</a></li><li><a href="">2</a></li><li><a href="">3</a></li><li><a href="">4</a></li><li><a href="">5</a></li><li class="next">下一页</li></ul>
				  <div class="redirect_div">
				    <form id="redirect_form" action="search.php" method="post">
					  <input id="page_number" name="page_number" type="text">
					  <button type="submit">Go</button>
					</form>
				  </div>
				  <div class="hidden"></div>
				</div>
			  </div>
			</div>
			<!--盒子结束-->
			<div class="hidden"></div>
		  </div>
		  <!--容器结束-->
		</div>
		<!--主体结束-->
		<!--页脚开始-->
		<div id="pageFooter">页脚</div>
		<!--页脚结束-->
